html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #212121;
  color: #fff;
  scroll-behavior: smooth
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #212121;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #5a5a5a; 
}
/* 
    c1: #0A91AB;
    c2: #26282B
    c3: #5F85DB
    c4: #90B8F8
*/
.swiper-button-next:after{
    color: #14FFEC;
}
.swiper-button-prev:after{
    color: #14FFEC;
}

.swiper-button-next, .swiper-button-prev{
    top: 93% !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main{
    background: #14FFEC;
}






@tailwind base;
@tailwind components;
@tailwind utilities;